*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans',sans-serif;
}

body{
  position: relative;
  background-color: #ffe4e1;
}


#user-img{
  width: 80px;
  height: 80px;
  border: 3px solid red;
  border-radius: 50%;
  vertical-align: middle;
}

h2{
  margin-left: -30px;
  margin-top: 35px;
  color: #bb2019;
}

h4{
  margin-left: 15px;
  margin-top: 35px;
}

#ptit-logo{
  width: 160px;
  height: 80px;
  vertical-align: middle;
}

.student-container{
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
}

.logo-container{
  margin-left: -100px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
}

.nav-bar{
  position: sticky;
  background: radial-gradient(circle at 10% 20%, rgb(248, 219, 219) 0%, rgb(229, 248, 250) 90%);  
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

ul{ 
  margin-right: 30px;
  margin-top: 35px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  
}



a{
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.fa-bell{
  color:#bb2019;
  font-size: 20px;
}


a:hover{
  color: #bb2019;
  cursor: pointer;
}



i:hover{
  cursor: pointer;
}


.container{
  height: 100vh;
}


.fa-clock{
  color: black;
  font-size: 40px;
}

.timer{
  width: 1220;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  background-color: white;
  border-radius: 20px;
}

#time-countdown{
  color: #008000;
  font-weight:900;
  margin-left: 10px;
}


.cointainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-quiz-container{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 1220px;
  border-radius: 20px;
}

.quiz-container{
  padding: 5px;
  width: 770px;
  height: 400px;
}

.quiz-manager{
  margin-top: 5px;
  padding: 20px;
  position: fixed;
  left: 75%; /* Giữa màn hình */
  transform: translateX(-50%);
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
}

.quiz-1{
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#quiz-content,.quiz-number{
  font-weight: bold;
  font-size: 20px;
}

#quiz-content{
  margin-top: 10px;
}

.form-box{
  margin-top: 30px;
}



.form-box label input{
display: none;
}
.form-box label {
  height: 30px;
display: block;
cursor: pointer;
margin-bottom: 20px;
padding-left: 30px;
position: relative;
}


.form-box label .circle{
  margin-top: 3px;
  height: 20px;
  width: 20px;
  border:3px solid black;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left:0;
  top:-5px;
  transition: border-color .5s ease;
}
.form-box label .circle::before{
  content: '';
  height: 7px;
  width: 7px;
  background-color: #4ca64c;
  position: absolute;
  left:0;
  top:0;
  border-radius: 50%;
  box-sizing: border-box;
  margin-left:4px;
  margin-top:4px;
  transition: transform .5s ease;
  transform: scale(0);
}
.form-box label span{
font-size: 15px;
  font-weight: bold;
color:black;
display: inline-block;
text-transform: uppercase;
transition:color .5s ease;
}
.form-box label input:checked + .circle{
border-color:#4ca64c;
}
.form-box label input:checked + .circle::before{
transform: scale(1);
}
.form-box label input:checked + .circle + span{
color:black;
}



.form-box label .circle-wrong{
  margin-top: 3px;
  height: 20px;
  width: 20px;
  border:3px solid black;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left:0;
  top:-5px;
  transition: border-color .5s ease;
}
.form-box label .circle-wrong::before{
  content: '';
  height: 7px;
  width: 7px;
  background-color: red;
  position: absolute;
  left:0;
  top:0;
  border-radius: 50%;
  box-sizing: border-box;
  margin-left:4px;
  margin-top:4px;
  transition: transform .5s ease;
  transform: scale(0);
}

.form-box label input:checked + .circle-wrong{
border-color:red;
}
.form-box label input:checked + .circle-wrong::before{
transform: scale(1);
}
.form-box label input:checked + .circle + span{
  color:black;
  }

.quiz-manager p{
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}


#box-question{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

#box-question button{
  font-size: 16px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  background-color: white;
  outline: none;
  border: 3px solid black;
  border-radius: 10px;
}


#box-question button:hover{
  border: 3px solid #6666ff;
  cursor: pointer;
}


#submit{
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-top: 80px;
  margin-left: 130px;
  font-weight: bold;
  width: 100px;
  height: 50px;
  background-color: #007aff;
  outline: none;
  border: 3px solid #007aff;
  border-radius: 10px;
}

#submit:hover{
  cursor: pointer;
}

#submit:active{
  padding-bottom: 5px;
}


.detail{
  background-color: aliceblue;
  width: 500px;
  height: 300px;
}

#result-content{
  text-align: left;
}

#result-manager{
  margin-left: 10px;
  margin-top: 30px;
}



#correct-container{
  display: flex;
  align-items: center;
  gap: 10px;
}
#wrong-container{
  align-items: center;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
#correct{
  display: flex;
  align-items: center;
  color: green;
}

#wrong{
  display: flex;
  align-items: center;
  color: red;
}


#point-container{
  margin-top: 30px;

}

#point{
  font-size: 40px;


}

#point-content{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}



#correct_ans{
  text-align: center;
  font-size: 30px;
  color: #4ca64c;
}

#valid{
  display: flex;
  justify-content: right;
}

#wrong_ans{
  text-align: center;
  font-size: 30px;
  color: red;
}

#answer{
  margin-top: 10px;
  padding: 15px;
  background-color:#d8d8d8  ;
  border-radius: 20px;

}

#text-answer{
  font-size: 19px;
  font-style: italic;
}



